@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Fonts */
  --font-sans: var(--font-noto-sans-jp);
  --font-serif: var(--font-noto-serif-jp);
  --font-outfit: var(--font-outfit);
  --font-arbutus: var(--font-arbutus-slab);
  --font-akaya: var(--font-akaya);

  /* Gradients based on layout desc.txt */
  --background-image-app-bg: linear-gradient(to bottom right, #FFF3F0, #FFDAD1);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .hide-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
